header
  nav
    .mobile-nav__container#mobile-nav
      a.mobile-nav__button--hide(title='click to close', href='#') &#xf00d;
      a.mobile-nav__button--show(title='click to open', href='#mobile-nav') &#xf0c9;
      a(href="https://tessel.io")
        img(src="https://s3.amazonaws.com/technicalmachine-assets/storefront/tessel-name.png", alt="Tessel").mobile-nav__logo
      ul
        li(id="start")
          a(href="//start.tessel.io") Start
        li(id="docs")
          a(href="//start.tessel.io/docs") Docs
        li(id="modules")
          a(href="//tessel.io/modules") Modules
        li(id="projects")
          a(href="//projects.tessel.io/projects") Projects
        li(id="forums")
          a(href="//forums.tessel.io") Forums
        li(id="shop")
          a(href="//shop.tessel.io/") Shop
        li(id="blog")
          a(href="//blog.tessel.io/") Blog
        li
          a.twitterbird(href="//twitter.com/technicalhumans", title="technicalhumans") &#xf099;
