nav.top-bar.fixed(data-topbar, role="navigation")
  ul.title-area
    li.name
      h1
        a(href="/")
          img.top-bar__logo(src="https://s3.amazonaws.com/technicalmachine-assets/technical-io/tessel-logo-horizontal.svg", alt="Tessel")
    li.toggle-topbar.menu-icon
      a(href="#")
        span Menu
  section.top-bar-section
    ul.right
      li
        a(href="https://tessel.io/start") Start
      li
        a(href="https://tessel.io/docs") Docs
      li
        a(href="https://tessel.io/modules") Modules
      li
        a(href="https://tessel.io/projects") Projects
      li
        a(href="https://tessel.io/forums") Forums
      li
        a(href="https://tessel.io/shop") Shop
      li
        a(href="https://tessel.io/blog") Blog
